.widget__contents {
    display: flex;
    cursor: pointer;
}

.widget__content {
    margin: 5px;
    display: flex;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.widget__content>img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.widget__contentTitle {
    margin-left: 10px;
}

.widget__contentTitle>a {
    color: rgb(70, 68, 68);
    text-decoration: none;
}

.widget__contentTitle>a:hover {
    color: black;
    font-size: 17px;
}

.widget__contentTitle>p {
    color: gray;
    font-size: small;
}